
.error {
    color: red;
       }
.container{
    margin-bottom: 50px;
}
.orange-bg {
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item {
    padding-left: 20px;
    padding-right: 20px;
}
.price{
    color: #7407f2f3;
}
.buy-now-button{
    background-image: linear-gradient(to bottom,#b6acbf 0%, #734c92 100%);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}


